

body{
    
    font-family: "Plus Jakarta Sans", serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
     
}
.container{   
    flex: 1;
}
/*navbar*/
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
color: #f82432;
font-size: 2rem;
}

.nav-link{
    color: #222222  !important;
}
.logout{
    background-color: rgb(200, 203, 203);
}
.fa-right-from-bracket{
    color: #222222;
margin-right: 7px;


}


/* footer */
.f-info{    
    height: 8rem;
    background-color: #e8e6e6;
    display:flex;
    flex-wrap: wrap;
    align-items:space-evenly;
}
.f-info-links a{
    text-decoration: none;
    color: black;
}

.f-info-links a:hover{
    text-decoration: underline;
    
}

.f-info-links,
.f-info-socials,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.f-info-socials{
   font-size: 1.5rem; 
}

.fa-brands{
  margin-right: 0.5rem;
}


/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 3rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
object-fit: cover !important;
height: 300px;
}

.card-body{
    margin-top: 3px;
    padding: 0 !important;
}

.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
    }
.card-img-overlay:hover{
    background-color: beige;
    opacity: 0.3;
}


/* New Page */
.add-btn{
    background-color:#f82432 !important;
    border: none !important;
}


/* Edit Page */
.edit-btn{
    background-color:#f82432 !important;
    border: none !important;
}

/* show page */
.show-btns{
    display: flex;
    flex-direction: row;
}
.show-delete-btn{
    background-color:#f82432 !important;
    border: none !important;
}


/* Map */




#map {
  width: 100vh;
 height: 400px;
}


